<div>blog</div>
<section class="card blog-form">
    <a href="/blogs" class="card body">
    <h4 class="card title">{{title}}</h4>
    <h4>Made by {{user.username}}</h4>
    <p class="card-text">{{content}}</p>
    </a>
</section>

<!--dashboard script-->
<script src="/js/create-post.js"></script>

<!--complete --> 