<h2>My Tech Blog | Homepage</h2>
{{#each blogs}}
    <section class="div">
        <h3>{{title}}</h3>
        <h3>made by {{user.username}}</h3>
        <p class="card-text">{{content}}</p>
    </section>
{{/each}}

<!--complete --> 