<section class="card">
    <div class="cardBody">
        <h5 class="cardTitle">Signup Here</h5>
        <form id="signUp">
            <div class="cardText">
            <label for="signupUsername">Username</label>
            <input type="text" placeholder="username" id="signupUsername">
            </div>
            <div class="card-text">
            <label for="signupPassword">Password</label>
            <input type="text" placeholder="password" id="signupPassword">
            <button type="submit">SIGNUP</button>
            </div>
            </div>
        </form>
    </div>
</section>

<!--Signup JS-->
<script src="/js/signup.js"></script>

<!--complete --> 